#app {
   background-image: url('https://images.unsplash.com/photo-1539632346654-dd4c3cffad8c?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGxhbmd1YWdlfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* filter: blur(2px); */
     /* filter: grayscale(100%)
      */
       /* filter: brightness(150%);
        filter: contrast(200%); */
        backdrop-filter: blur(50px);
}

