#app {
   /* background-image: url('https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/203270966/original/e44a2716f4b2841f5147e7ec656af7f93e54e3e4/translate-and-speaking-and.png'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* filter: blur(2px); */
     /* filter: grayscale(100%)
      */
       /* filter: brightness(150%);
        filter: contrast(200%); */
        backdrop-filter: blur(50px);
}

